.main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
}

.loading{
    position: fixed; 
    bottom: 10px; 
    left: 20px; 
    background-color: rgba(0,0,0, 0.6); 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px;
    z-index: 1000;
}